
/* Navbar start */
*{
     overflow-x: hidden; 
}
.nav-logo{
    width: 50px;
}
.heart-1{
    padding: 10px;
    border-radius: 10px;
}
.heart{
    width: 20px;
}
.nav-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    padding-bottom: 27px;
    padding-top: 25px;
}
.logo-text{
    font-weight: bold;
    color: #006747;
}
.nav-icon{
    gap: 20px;
    margin-right: 60px;
}
.nav-btn{
    padding: 14px 36px;
    border-radius: 17px;
    color: white;
}
.text-bold{
    font-size: 16px;
    font-weight: bold;
}

/* Navbar end */

/* banner sec start */
.banner{
    background-color: #005E41;
    padding-bottom: 21px;
    padding-top: 21px;
}

.ban-h1{
    font-weight: bold;
    padding-left: 200px;
    color: white;
}
.ban-p{
    font-weight: semibold;
    color: white;
}
/* banner sec end */




/* Main-card section start*/
.card-section{
    padding-top: 92px;
    padding-bottom: 40px;
}
.parent-card-2{
    padding-right: 24px ;
}
.card-logo{
    padding-left: 20px;
    padding-top: 30px;
    
}
.logo-icon{
    background-color: #FFE3E2;
    padding: 14px;
    border-radius: 14px;

}
.love-icon{
    padding-right: 25px;
}
.copy-btn{
     padding: 10px 50px;
     color: grey;
}
.call-btn{
    padding: 10px 50px;
    color: white;
}
.btn-sec{
    /* display: flex; */
}
.img-section{
    justify-content: space-between;
    align-items: center;
}

.card-number{
    font-size: 26px;
    font-weight: bold;
}
.card-p{
    font-size: 18px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 7px
}
.call-section{
    padding-top: 92px;
}

.call-text{
    font-size: 18px;
    font-weight: bold;
}
.call-btn-2{
    padding: 14px 36px;
    border-radius: 17px;
    color: white;

}


/* responsive */
@media screen and (max-width: 576px) {
    .nav-Container{
        flex-direction: column;
        align-items: flex-start;
    }
    .card-section{
        grid-template-columns:  1fr;
    }
    
}